.square {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  margin: 20px;
}
.title{
  text-align: center;
}
.square:hover{
  filter: brightness(300%);
}

.square:active{
  filter: brightness(100%);
}

.square.red{
  background-color: #cf0000;
}

.square.green{
  background-color: green;
}

.square.blue{
  background-color: #040462;
}

.square.yellow{
  background-color: #b3b307;
}

.selected {
  filter: brightness(300%);
}

#panel{
  text-align: center;
  height: 200px
  border: 2px solid black;
}
